@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../../assets/fonts/NeutraText\ Book.otf) format('woff');
}

@font-face {
  font-family: 'MyFont2';
  src: local('MyFont2'), url(../../assets/fonts/NeutraTextDemi.otf) format('woff');
}

@font-face {
  font-family: 'MyFont3';
  src: local('MyFont3'), url(../../assets/fonts/NeutraTextLight.otf) format('woff');
}

.container-ordering {
    margin-top: 80px;
}

.bg-display {
    /* background-color: #2a3c434f; */
    background-color: #2a3c43cc;
    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
    border-radius: 20px;
    width: 80%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    
  }

.bg-display-test {
    background-color: rgba(255, 255, 255, 0.205);
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    width: 13em;
    height: auto;
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0.459);
    border-width: 1px;
    border-radius: 6px;
}

.bg-display-button{
  background-color: rgba(255, 255, 255, 0.205);
  text-align: center;
  display: table;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  width: 8em;
  text-decoration: none;
  border-color: rgba(255, 255, 255, 0.925);
  border-width: 1px;
  border-radius: 6px;
  padding: 10px;
}
@media only screen and (orientation:portrait) {
  .ordering_back_button {
    background-color: #D60B52;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    width: 150px;
    border-style: solid;
    color: white;
    margin-right:5px;
  }
  .ordering_next_button {
    background-color: #2B8984;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    width: 150px;
    border-style: solid;
    color: white;
  }
}
@media only screen and (orientation:landscape) {
  .ordering_back_button {
    background-color: #D60B52;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    width: 150px;
    border-style: solid;
    color: white;
    margin-right:15px;
  }
  .ordering_next_button {
    background-color: #2B8984;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    width: 150px;
    border-style: solid;
    color: white;
  }
}

.surprise {
  margin-top: auto;
  margin-bottom: auto;
}

.bg-display-test:hover {
    background-color: rgba(255, 255, 255, 0.39);
}

.bg-display-button:hover {
  background-color: rgba(255, 255, 255, 0.39);
}

.justify-content-md-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.buttonAlign {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.added-mar {
    margin-top: -50px;
}

.pic {
    display: block;
    width: auto;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-decoration: none;
}
.pic2 {
  display: block;
  width: auto;
  max-height: 160px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

h3 {
    margin-bottom: 40px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto;
    font-family: MyFont2;
}

#trans-button-style {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  /* overflow: hidden; */
  outline:none;
}

  .borders {
    border-style: dashed;
  }

  .test {
      text-align: center;
  }

  p {
      font-size: 20px;
      text-decoration: none;
      font-family: MyFont3;
      color: white;
      display: inline-block;
  }

  a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    color: white;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }

  h4 {
    color: rgba(255, 255, 255, 0.74);
    font-style: italic;
    font-size: 20px;
    font-family: MyFont;
  }

  label {
    color: white;
    font-size: 20px;
    font-family: MyFont2;
  }

  h6 {
    color: rgba(255, 255, 255, 0.829);
    font-family: MyFont;
  }

  #order2 {
    display: none;
  }
  #fNameLabelOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #fNameLabelReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #fNameLabelLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #fNameLabelEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #fNameLabelEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #fNameLabelEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }
  
  #lNameLabelOK {
    display: none;
    color: rgb(131, 255, 131);
  }
  #lNameLabelReq {
    display: none;
    color:  rgb(255, 103, 103);
  }
  #lNameLabelLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #lNameLabelEditOK {
    display: none;
    color: rgb(131, 255, 131);
  }
  #lNameLabelEditReq {
    display: none;
    color:  rgb(255, 103, 103);
  }
  #lNameLabelEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #occasionOK {
    display: none;
    color: rgb(131, 255, 131);
    text-align : center;
  }
  #occasionReq {
    display: none;
    color:  rgb(255, 103, 103);
    text-align : center;
  }
  #occasionLen {
    display: none;
    color:  rgb(255, 103, 103);
    text-align : center;
  }

  #occasionEditOK {
    display: none;
    color: rgb(131, 255, 131);
    text-align : center;
  }
  #occasionEditReq {
    display: none;
    color:  rgb(255, 103, 103);
    text-align : center;
  }
  #occasionEditLen {
    display: none;
    color:  rgb(255, 103, 103);
    text-align : center;
  }
  #order3 {
    display: none;
  }
  #order4 {
    display: none;
  }
  #order5 {
    display: none;
  }
  #order6 {
    display: none;
  }
  #date-timeOK {
    display: none;
    color: rgb(131, 255, 131);
    text-align : center;
  }
  #date-timeReq {
    display: none;
    color:  rgb(255, 103, 103);
    text-align : center;
  }

  #date-timeEditOK {
    display: none;
    color: rgb(131, 255, 131);
    text-align : center;
  }
  #date-timeEditReq {
    display: none;
    color:  rgb(255, 103, 103);
    text-align : center;
  }
  #order7 {
    display: none;
  }

  #order8 {
    display: none;
  }
  #addressLineOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #addressLineReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #addressLineLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #addressLineEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #addressLineEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #addressLineEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #cityOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #cityReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #cityLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #cityEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #cityEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #cityEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #stateOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #stateReq {
    display: none;
    color: rgb(255, 103, 103);
  }

  #stateEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #stateEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }

  #zipOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #zipReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #zipLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #zipEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #zipEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #zipEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #order9 {
    display: none;
  }
  #offeredByOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #offeredByReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #offeredByLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #offeredByEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #offeredByEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #offeredByEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }
  #phoneNumberOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #phoneNumberReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #phoneNumberLen {
    display: none;
    color:  rgb(255, 103, 103);
  }
  #phoneNumberNums{
    display: none;
    color: rgb(255, 103, 103);
  }

  #phoneNumberEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #phoneNumberEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #phoneNumberEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }
  #phoneNumberEditNums{
    display: none;
    color: rgb(255, 103, 103);
  }
  #emailOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #emailReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #emailLen {
    display: none;
    color:  rgb(255, 103, 103);
  }

  #emailEditOK {
    display: none;
    color: rgb(131, 255, 131);;
  }
  #emailEditReq {
    display: none;
    color: rgb(255, 103, 103);
  }
  #emailEditLen {
    display: none;
    color:  rgb(255, 103, 103);
  }
  #order10 {
    display: none;
  }

  #orderConfirm {
    display: none;
  }

  #bolding {
    font-weight: bold;
  }

 .intro {
    color: rgb(223, 84, 107);
    text-align: left;
  }

.confirmHeader {
    color: #C0C5C7;
    font-size: 200%;
  }

  #form1 {
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  #form1Edit {
    color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .orderLine {
    border:0px outset;
    background-color:#8d898986;
    color:#EEEEEE;
    height:3px;
    /* width:% */
}

.orderLineText {
    color: rgb(146, 143, 143);
    font-size: 25px;
    text-align: left;
}

.editButton {
  width: 15%;
  height: auto;
}

.editText {
  color: white;
  font-size: 1.3em;
  font-family: MyFont2;
}

#summaryDetails {
  display: block;
}

#editFields {
  display: none;
}

#giftEdit {
  margin-left: auto;
  margin-right: auto;
}

  @media only screen and (orientation: portrait) {
    .bg-display-test {
      width: 70%;
      margin-bottom: 2em;
    }

    .bg-display {
      width: 100%;
      border-radius: 0%;
    }

    .top-space-ordering {
      margin-top: 40px;
      padding: 0;
      width: 100%;
    }

    #form1 {
      width: 100%;
    }

    .tooltiptext {
      display: none;
    }

    .tooltip {
      width: 100%;
    }

    .tooltipCol {
      display: inline-block;
      text-align: center;
    }

  }