#edit, #musiciansTable, #matched {
    display: none;
}

.dashboardNavAdmin {
    background-color: #2a3c43cc;
    padding-bottom: 30px;
    border-radius: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    /* display: block; */
}