.musregtop_space {
    /* padding-top: %; */
    max-width: 100%;
    overflow-x: hidden;
    /* background-color: #2a3c43; */
    
}

#mus_passMatch, #mus_emailValid, #mus_passLen {
    display: none;
}

.musicianregTitle {
    margin-bottom: 40px;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: CamperSans2;
    font-size: 70px;
    letter-spacing: 0.3rem;
}

#font{
    font-size: 30px;
    margin-top: 50px;
}

i{
    font-size: 25px;
}

.styles{
   margin-top: 30px;
}

input[type=checkbox].music_styles {
    display: none;
}

input[type=radio].education {
    display: none;
}

@media only screen and (orientation:landscape) {

.register :checked + span {
    background: #81A92F;
    color: white;
    border-radius: 15px;
    padding: 5px;
}

.cal_button {
    background-color: #2b8984;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    width: 150px;
    border-style: solid;
    color: white;
    letter-spacing: 0.09rem;
}
.sub_button {
    background-color: green;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    width: 150px;
    border-style: solid;
    color: white;
    letter-spacing: 0.09rem;
}
.register span {
    display: inline-block;
    background: #61737a;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    width: 150px;
}

.register :hover + span {
    margin-left: 3px;
    background: #81A92F;
}

}
@media only screen and (orientation:portrait) {
    .register :checked + span {
        background: #81A92F;
        color: white;
        border-radius: 15px;
        padding: 5px;
        font-size: 15px;
        width: 80px;
    }
    
    
    .register span {
        display: inline-block;
        background: #61737a;
        cursor: pointer;
        border-radius: 15px;
        text-align: center;
        padding: 5px;
        font-size: 15px;
        width: 80px;

 
    
    }

    .cal_button {
        background-color: #2b8984;
        border-radius: 15px;
        border-color: white;
        font-family: CamperSans2;
        font-size: 30px;
        width: 150px;
        border-style: solid;
        color: white;
        letter-spacing: 0.09rem;
    }
    .sub_button {
        background-color: green;
        border-radius: 15px;
        border-color: white;
        font-family: CamperSans2;
        font-size: 30px;
        width: 150px;
        border-style: solid;
        color: white;
        letter-spacing: 0.09rem;
    }

}
@media only screen and (min-width: 1000px) {
.display-reg {
    /* background-color: #2a3c434f; */
    background-color: #2a3c43cc;
    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
    padding-bottom: 50px;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }}

  @media only screen and (max-width: 999px) {
    .display-reg {
        /* background-color: #2a3c434f; */
        background-color: #2a3c43cc;
        /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
        padding-bottom: 50px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
      }}

/* .calander{
margin-top: 30px;
background-color: white;
padding: 20px;
border-radius: 15px;
cursor: pointer;
margin-left: 50%;
margin-right: 5px;
} */

@media only screen and (orientation:landscape) {
.calender{
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    /* margin-left: 10%; */
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    }
    /* Modal Content */
  .registerModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
}


@media only screen and (orientation:portrait) {
    .calender{
        margin-top: 30px;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 40px;
        }
        /* Modal Content */
    .registerModal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    }



#commentBox{
    display: none;
}

#school{
    display: none;
}

#regedit{
    /* background-color: #d60bd6; */
    display: none;
}

.justify-content-md-center{
    margin-top: 1px;
    margin-bottom: 1px
}

.justify-buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The Modal (background) */
.registerModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  

  .registerModalText {
    color: #000;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: auto;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



/* .bAZbmn {
    font-size: 140px;
    font-weight: 300;
    line-height:initial;
    color: black;
    margin: 5px 0;
}
.jTYlLp{
    width: 100%;
    height: 250px;
    background-color: rgba(89,154,242,1);
} */
