  
.top-space {
    margin-top: 3%;
    max-width: 100%;
    overflow-x: hidden;
}

.top-space2 {
    background-color: #46555B;
    width: 100%;
    margin-top: 3%;
}

.cards {
    background-color: #46555B;
    text-align: center;
    display: flexbox;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.cards2 {
    background-color: #282c34;
    display: flexbox;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cards3 {
    background-color: #282c34;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.cards4 {
    background-color: #D60B52;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.fourthCards {
    text-align: center;
    float: none;
    margin-bottom: 200px;
}


.card {
    height: fit-content;
    background-color: #46555B;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card2 {
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: #282c34;;
}


.firstsection {
    width: 10%;
    margin-left:7%;
}

.tower {
    height: 400px;
    margin-left: 25%;
}

.towerDescription {
    float:left;
    padding-left:5%;
    text-align: center;
    padding-top: 5%;
}


.towerDiv {
    float: left;
    padding-top: 1%;
}

@font-face {
    font-family: CamperSans2;
    src: url(./../../assets/fonts/Fenotype\ -\ CamperSans2.otf);
}

.towerText {
    font-family: CamperSans2;
    font-size: 70px;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
}



.LearnMoreButton {
    background-color: white;
    border-style: none;
    color: #D60B52;
    margin-top: 1%;
    font-size: 50px;
    padding-left: 15px;
    border-radius: 6px;
    font-family: CamperSans2;
    letter-spacing: 8px;
}

.firstTowerText {
    color: white;
}

.secondTowerText {
    color: #df0c56
}


.thirdTowerText {
    color: rgb(186, 218, 85);
}

@media only screen and (orientation:landscape){
.textBG {
    background-color: #2a3c434f;
    padding: 3%;
    width: 70%;
    height: auto;
    border-radius: 15px;
    /* margin-right: 10%; */
        margin-left: 10%;
        margin-top: 5%;
    text-align: center;
    /* float: right; */
}
.orderButton {
    background-color: #D60B52;
    border-style: none;
    color: white;
    margin-top: 3%;
    font-size: 175%;
    padding: 7%;
    border-radius: 6px;
    width: 50%;
}





}

@media only screen and (orientation:portrait){
    .textBG {
        background-color: #2a3c434f;
        padding: 3%;
        border-radius: 50px;
        text-align: center;
        float: right;
        margin-bottom: 50px;
        width:2%;
        margin-right: 4%;
        margin-top: 7%;


    }
    .orderButton {
        background-color: #D60B52;
        border-style: none;
        color: white;
        margin-top: 1%;
        font-size: 100%;
        padding: 8%;
        border-radius: 6px;
        width: 33%;
    }

    .b{
        display: none;
    }



}

.firstCard {
    float: right;
    width: 50%;
}

.textAlign {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.textAlign2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: CamperSans2;
    font-size: 70px;
}

.cardHeader {
    text-align: center;
    font-size: 60px;
    width: 100%;
    height: 100px;
    color: white;
    font-family: CamperSans2;
}

.card-img-top {
    margin-top: -10%;
}

.buttonAlign {
    margin-right: auto;
    margin-left: auto;
}

.buttonAlign2 {
    max-height: 400px;
    max-width: 1000px;
    margin: auto;
}

.top-buffer { 
    margin-top:20px; 
}

.justify-content-md-center{
    margin-top: 100px;
    margin-bottom: 30px
}

.logo {
    width: 75px;
    height: 75px;
}

a+a {
    margin-left: 20px;
}

.card-text {
    text-align: center;
    color: #df0c56;
}

.card-text2 {
    text-align: center;
    font-size: 25px;
}

.card-text3 {
    text-align: center;
    font-size: 20px;
    color: #cccccc;
}

.card-text4 {
    text-align: center;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text5 {
    text-align: center;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 25px;
}

.card-text6 {
    color: #df0c56;
}

.card-text7 {
    font-size: 25px;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.deckHeader {
    text-align: center;
}

#img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img2 {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.presentImg {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.presentBackground {
    background-color: white;
    padding: 20%;
    width: 100%;
    border-radius: 100px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Loading {
    animation: spin 2s linear infinite;
    position: block;
    width: 5vh;
    height: 5vh;
  }

  .Feed {
    margin: auto;
    padding: 1% 1%;
  }

  .Feed a {
    display: inline-block;
    margin: 1% 1%;
    width: 13%;
    line-height: 0;
  }

  .Feed a img {
    width: 100%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.player-wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    max-width: 2000px;
}
  
.react-player {
    margin-left: auto;
    margin-right: auto;
}

.react-player:focus {
    outline: none;
    outline-offset: none; 
}

.player-wrapper:focus {
    outline: none;
    outline-offset: none
}

.carouselImage {
    min-width: 60%;
    width: 300px;
    margin: auto;
}

@media only screen and (orientation: portrait) {
    .towerDiv {
        float: none;
    }

    .towerDescription {
        display: none;
    }

    .tower {
        height: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .textBG {
        background-color: #2a3c434f;
        padding: 3%;
        width: 100%;
        border-radius: 0%;
        height: auto;
        text-align: center;
        float: none;
    }

    .top-space2 {
        margin-top: 0%;
    }

    .orderButton {
        padding: 3%;
    }
    @media only screen and (orientation:landscape){
    .towerText {
            float: none;
            font-family: CamperSans2;
            font-size: 350%;
            line-height: 90%;
            }
        
        }
        .Description {
            /* float:left; */
            padding-left:5%;
            text-align: center;
            padding-top: 5%;
            margin-top: 25%;
            margin-left: 1px;
        }

@media only screen and (orientation:portrait){
    .towerText {
            float: none;
            font-family: CamperSans2;
            font-size: 280%;
            line-height: 90%;
            }
        
        }
  
    .cardHeader {
        font-size: 45px;
        line-height: 80%;
    }

    .card-text3 {
        font-size: 20px;
    }

    .card-text2 {
        font-size: 25px;
    }

    .textAlign2 {
        font-size: 60px;
        line-height: 80%;
    }
    
    .cards2 {
        margin-top: 10%;
    }

    .card-img-top2 {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #img {
        width: 100%;
    }

    .Feed {
        padding: 0%;
    }

    .Feed a {
        width: 31%;
    }

    .player-wrapper {
        min-width: 100%;
    }

}