.top-space {
    margin-top: 3%;
    max-width: 100%;
    overflow-x: hidden;
}

.firstsection {
    width: 100%;
}

.tower {
    height: 400px;
    margin-left: 100%;
    margin-right: auto;
}

.towerDiv {
    float: left;
    margin-bottom: 5%;
}

@font-face {
    font-family: CamperSans2;
    src: url(./../../assets/fonts/Fenotype\ -\ CamperSans2.otf);
}

.textBG {
    background-color: #2a3c434f;
    padding: 3%;
    width: 38%;
    height: auto;
    border-radius: 10px;
    margin-right: 10%;
    text-align: center;
    float: right;
}

.towerText {
    font-family: CamperSans2;
    font-size: 430%;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.orderButton {
    background-color: #D60B52;
    border-style: none;
    color: white;
    margin-top: 3%;
    font-size: 200%;
    padding: 7%;
    border-radius: 6px;
    width: 100%;
}

.firstTowerText {
    color: white;
}

.secondTowerText {
    color: #df0c56
}

.textAlign {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttonAlign {
    margin-right: auto;
    margin-left: auto;
}

.secondSection {
    background-color: #2A3C43;
    width: 100%;
    padding: 1%;
}

.secondSectionTitle {
    color: white;
    font-size: 600%;
    font-family: CamperSans2;
    margin-bottom: -3%;
}

.secondSectionNumbers {
    font-size: 500%;
    color: white;
    font-family: CamperSans2;
    text-align: center;
    margin-bottom: -7%;
}

@font-face {
    font-family: NeutraTextDemi;
    src: url(./../../assets/fonts/NeutraTextDemi.otf);
}

.secondSectionTopText {
    font-size: 200%;
    color: white;
    text-align: center;
    font-family: NeutraTextDemi;
}

.secondSectionImages {
    width: 70%;
    border-radius: 10px;
}

.secondSectionImagesDiv {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.secondSectionBottomText {
    font-size: 140%;
    color: #CACBCB;
    text-align: center;
    font-family: NeutraTextDemi;
    margin-top: 5%;
}


@media only screen and (orientation: portrait) {
    .towerDiv {
        float: none;
    }

    .tower {
        height: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .textBG {
        background-color: #2a3c434f;
        padding: 3%;
        width: 100%;
        height: auto;
        border-radius: 10px;
        text-align: center;
        float: none;
    }

    .orderButton {
        padding: 3%;
    }

    .towerText {
        float: none;
        font-family: CamperSans2;
        font-size: 350%;
        line-height: 90%;
    }

    .secondSectionImages {
        width: 100%;
        display: block;
    }

    .secondSectionTopText {
        font-size: 100%;
    }

    .secondSectionBottomText {
        font-size: 80%;
    }

    .secondSectionTitle {
        margin-bottom: -12%;
    }
    
}