hr {
    border-top: 3px solid rgb(255, 254, 254);
    border-bottom: 3px;
}

.topspace {
margin-top: 30px;
}

.faq-display {
    /* background-color: #2a3c434f; */
    background-color: #2a3c43cc;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    padding-bottom: 50px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1400px) {
    .faq-display {
        /* background-color: #2a3c434f; */
        background-color: #2a3c43cc;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
        padding-bottom: 50px;
        border-radius: 20px;
        width: 30%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
}

.justify-content-md-center{
    margin-top: 1px;
    margin-bottom: 1px
}

.fontcol {
margin-bottom: 40px;
color: white;
}

h3 {
margin-bottom: 40px;
color: white;
margin-left: 20px;
margin-top: 10px;
font-family: MyFont2;
}

h2.faq {
margin-bottom: 40px;
color: white;
text-align: center;
margin-top: 10px;
font-family: MyFont2;
}

#fade {
font-size: 40px;
color:#D60B52;

}

#explanation{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}

#high {
font-size: 18px;
color:white;
}

#low{
color:#ee3e7b;
}