hr {
    border-top: 3px solid rgb(255, 254, 254);
    border-bottom: 3px;
}



@media only screen and (orientation:landscape){

.faq-display {
    /* background-color: #2a3c434f; */
    background-color: #2a3c43cc;
    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
    padding-bottom: 50px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

  }
  .top-space {
    margin-top: 30px;
    /* padding-left: 0px;
    padding-right: 0px; */
    margin-bottom: 100px;
    }
    .faq_headings {
      text-align: left;
    }
    
    .fontcol {
      text-align: left;
    }
}
  @media only screen and (orientation:portrait){
    .faq-display {
      /* background-color: #2a3c434f; */
      background-color: #2a3c43cc;
      /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
      padding-bottom: 50px;
      border-radius: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .top-space {
      margin-top: 30px;
      padding-left: 0px;
      padding-right: 0px;
      }
      .faq_headings {
        text-align: center;
      }
      
      .fontcol {
        text-align: left;
      }

}

.justify-content-md-center{
    margin-top: 1px;
    margin-bottom: 1px
}

img.arrow {
  width: 75px;
  height: 75px;
}

.fontcol23 {
margin-bottom: 40px;
color: white;
}

h3 {
margin-bottom: 40px;
color: white;
margin-left: 20px;
margin-top: 10px;
font-family: CamperSans2;
font-size: 50px;
}

h2.faq {
margin-bottom: 40px;
color: white;
text-align: center;
margin-top: 10px;
font-family: CamperSans2;
font-size: 70px;
}

#fade {
font-size: 70px;
color:#D60B52;

}

#explanation{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}

#high {
font-size: 18px;
color:white;
}


#low{
color:#ee3e7b;
}