

.color-nav {
    /* background-color: #2a3c434f; */
    background-color: #2a3c43cc;
    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75) */
}
.nav-text {
    font-size: 30px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.nav-font {
    color: rgb(158, 40, 40);
    font-size: 30px;
    /* font-family: Roboto; */
    /* font-style: normal; */
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 35px;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin-top: 7px;
}

.nav-font:hover {
    color: #D60B52;
}

@media screen and (min-width: 769px) {
    .nav-font {
        margin-left: 20px;
    }
    .nav-size {
        margin-right: 20px;
    }
  }