h1.info {
    margin-bottom: 40px;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: MyFont2;
    size: 30px;
}

div.box {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(133, 247, 161);
    padding: 50px;
    margin: 70px;
}

/* button {
    height: 50px;
    width: 120px;
} */

button.button1 {
    background-color: white;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    border-style: solid;
    color: rgb(93, 188, 210);
    height: 50px;
    width: 120px;
}

button.button1:hover {
    letter-spacing: 2px;
}

button.button2 {
    background-color: white;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    border-style: solid;
    color: #D60B52;
    height: 50px;
    width: 120px;
}

button.button2:hover {
    letter-spacing: 2px;
}

button.button3 {
    background-color: white;
    border-radius: 15px;
    border-color: white;
    font-family: CamperSans2;
    font-size: 30px;
    border-style: solid;
    color: rgb(186, 218, 85);
    height: 50px;
    width: 120px;
}

button.button3:hover {
    letter-spacing: 2px;
}




p.title {
    font-size: 50px;
    font-family: CamperSans2;
}

h1.info {
    font-family: CamperSans2;
    font-size: 70px;
}

.infobox1 {
    background-color: #56bcb8;
    padding: 20px;
    border-radius: 20px;
    color:'white';
    text-align:'center'; 
    margin-bottom: 50px;
    width: 500px;
    /* margin-right: auto; */
    margin-left: auto;
    height: 300px;
}

.infobox1_2 {
    background-color: #56bcb8;
    padding: 20px;
    border-radius: 20px;
    color:'white';
    text-align:'center'; 
    margin-bottom: 50px;
    width: 500px;
    margin-right: auto;
    /* margin-left: auto; */
    height: 300px;
}
/* .infobox1_2 {
    background-color: #56bcb8;
    padding: 20px;
    border-radius: 20px;
    color:'white';
    text-align:'center'; 
    margin-bottom: 50px;
} */

.infobox2 {
    background-color: #D60B52;
    padding: 20px;
    border-radius: 20px;
    /* max-height: 350px; */
    color:'white';
    text-align:'center'; 
    width: 500px;
    height: 300px;
    margin-bottom: 50px;



}

.infobox3 {
    background-color: rgb(186, 218, 85);
    padding: 20px;
    border-radius: 20px;
    /* max-height: 350px; */
    color:'white';
    text-align:'center'; 
    width: 500px;
    height: 300px;
    margin-bottom: 50px;

}


.info-page-display {
    background-color: #2a3c43cc;
    /* background-color: red; */
    /* -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75); */
  
    width: 100%;
}

@media screen and (max-width: 1090px) {
    #box_between {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    #box_between {
        display: none;
    }
    p.size {
        font-size: 15px;
    }

    .infobox1 {
        width: 80%;
        margin-left: 40px;
        margin-right: 40px;
    }
    .infobox1_2 {
        width: 80%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .infobox2 {
        width: 80%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .infobox3 {
        width: 80%;
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media screen and (orientation: landscape) {

p.size {
    font-size: 25px;
    font-family: TextBook;
    line-height: 1;
}
}