body {
  background-color: #657277;
}

.formbackground {
  background-color: #B9B9B9;
  padding: 3em;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-radius: 10px;
}

.appheader {
  text-align: center;
}