#font{
    font-size: 30px;
}

i{
    font-size: 25px;
}

#ck-button label:hover + span {
    background-color:blue;
}

label.harry { 
    background-color:blue;
    cursor: pointer;
    font-size: 25px;
} 