#font{
    font-size: 30px;
}

i{
    font-size: 25px;
}

#ck-button label:hover + span {
    background-color:blue;
}

label.harry { 
    background-color:blue;
    cursor: pointer;
    font-size: 25px;
} 

input[type=checkbox].music_styles {
    display: none;
}

input[type=radio].education {
    display: none;
}

label :checked + span {
    background: #81A92F;
    color: white;
    border-radius: 15px;
    padding: 5px;
}

label span {
    display: inline-block;
    background: #2a3c43be;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    width: 150px;

}

label :hover + span {
    background: #81A92F;
    margin-left: 3px;
}

.display-reg {
    /* background-color: #2a3c434f; */
    background-color: #2a3c43cc;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    padding-bottom: 50px;
    border-radius: 20px;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
  }

  .calander{
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    }

@media only screen and (min-width: 1000px) {
    

    .calander{
        margin-top: 30px;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        }
    }

    @media only screen and (orientation: portrait) {
        .display-reg {
            width: 100%;
        }
       
    }