@font-face {
    font-family: 'MyFont2';
    src: local('MyFont2'), url(../../assets/fonts/NeutraTextDemi.otf) format('woff');
  }

.top-space {
    margin-top: 40px;
}

.dashboardNav {
    background-color: #2a3c43cc;
    padding-bottom: 30px;
    border-radius: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.justify-content-md-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#profile {
    color: red;
}

.navText {
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.navText:hover {
    color: #D60B52 !important;
}

h2 {
    margin-bottom: 20px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    font-family: MyFont2;
}

.dashboardContainer {
    margin-top: 20px;
    display: table;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
}

.profileHeader {
    color: rgb(223, 84, 107);
}

#profilePage {
    display: block;
}

#requestsPage {
    display: none;
}

#statsPage {
    display: none;
}

#schedulePage {
    display: none;
}

#incomePage {
    display: none;
}

.line {
    border:0px outset;
    background-color:#8d898986;
    color:#EEEEEE;
    height:3px;
    /* width:% */
}

.lineText {
    color: rgb(146, 143, 143);
    text-align: left;
    font-size: 13px;
}

.setting {
    margin-left: 2px;
}